<div class="row mb-3">
    <div class="col-sm-12">
        <h1>{{restaurant.name}}</h1>
        <h5>{{restaurant.Category.name}}</h5>
    </div>

</div>

<div class="row">
    <div class="col-sm-12">
        <p>評論次數：{{restaurant.Comments.length}}</p>
        <p>瀏覽次數：{{restaurant.viewCounts}}</p>
        <p>收藏數：10</p>
    </div>

</div>

<a href="javascript:history.back()">回上一頁</a>