<div class="row">
    <div class="col-sm-4">
        <img class="img-thumbnail" src="{{user.image}}" alt="">
    </div>
    <div class="col-sm-8">
        <p>{{user.name}}</p>
        <p>{{user.email}}</p>
        <a href="/users/{{user.id}}/edit">
        <button class="btn btn-primary">編輯</button>
        </a>
    </div>
</div>